:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc187;
    --whiteColor: #fff;
    --softGreenColor: #92a8a5;
    --darkGrayColor: #a7a7a7;
    --blackColor: #222;
    ---greyColor: #f5f5f5;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'open Sans', sans-serif;
}

body{
    width: 100%;
    height: auto;
    /* display: flex; */
}
.container {
    display: flex;
}
.sidebar{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
}

.sidebar-menu a , .sidebar-logout a{
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menu a ion-icon{
    font-size: 40px;
}

.sidebar-menu a:hover{
    background-color: var(--secondaryColor);
    border-radius: 30px;
}

.sidebar-logout a ion-icon{
    font-size: 50px;
    color: var(--blackColor);
}

.sidebar-logout a{
    color: var(--blackColor);
}

.main{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreenColor);
    margin-left: 250px;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-togle{
    display: none;
}

.search{
    width: 30pc;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteColor);
    border-radius: 20px;
    
    
}

.search input{
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius:20px ;
}

.search-btn{
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
}

.search:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-btn:hover{
    background-color: var(--primaryColor);
}

.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.cart, .user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    font-size: 30px;
    color: var(--primaryColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;
}

.cart:hover, .user:hover{
    box-shadow: rgba(218, 204, 18, 0.623) 0px 8px 24px;
}

.main-highlight{
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondaryColor);
    border-radius: 8px;

}

.main-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 20px;
}

.main-arrow{
    font-size: 30px;
}

.back, .next{
    cursor: pointer;
}
.back:hover, .next:hover{
    color: var(--primaryColor);

}

.highligt-wrapper{
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}

.highlight-card{
    display: flex;
    flex-direction: row;
    min-width: 200px;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(---greyColor);
    cursor: pointer;
}

.highlight-img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    object-position: centers;
}

.highligt-desc h4{
    color: var(--primaryColor);
}
.highligt-desc p{
    color: var(--blackColor);
    font-size: 13px;
}
.highlight-card:hover{
    background-color: var(--whiteColor);
    box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

/* This is css for the registration and login form */
body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #efedae6b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    margin-top: 30px;
    width: 500px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
.form-group.required .control-label:after {
    content:"*";
    color:red;

body, h2 {
    margin: 0;
    padding: 0;
    background-color: var(--softGreenColor);
}
h2 {
    padding-bottom: 10px;
}

/* Center the login form */
.login , .signup {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-bottom: 2px solid var(--primaryColor);

}

h2 {
    text-align: center;
}

/* Style the links */
.links {
    text-align: center;
}

.links a {
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.links a.active {
    background-color: var(--darkGrayColor);
    color: var(--primaryColor);
}

/* Style the form */
form {
    text-align: center;
}

label {
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.msg {
    color: var(--blackColor);
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
}
/* Footer */
.footBG {
    background:grey;
}
#footer {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 20px;
    justify-content: space-between;
}
footer h1 {
    font-size: 20px;
}
footer ul {
    list-style: none;
}
footer p {
    width: 250px;
}
div .icons {
    display: flex;
    gap: 5px;
}
div .icons img {
    width: 30px;
}
.icons img :nth-child(2) {
    padding-left: 20px;
}
span {
    display: block;
}

/* Register */
.subtitle {
    padding-bottom: 10px;
}

/* Login */
 .cut, .placeholder{
    /* Can't adjust the width below 102px bcos of the flask_wtf css */
    width: 102px;
    margin-top: -12px;
    margin-left: -15px;
}