* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    text-decoration: none;
    font-display: var(#5f2e0b);
    
}

body {
    height: 100vh;
    width: auto;
    list-style: none;
    background-color: #ffc187;
    /* padding-top: 2rem; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    background: rgb(255, 255, 255);
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', serif;
    font-style: oblique;
    font-size: 1rem;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: #4e341b 5px solid;
    /* position: fixed;
    top:0; */
    /* width: 100vw; */
    
}

.navbar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-nav{
    font-size: 20px;
    /* align-items: center; */
    margin-left: 10px;
    padding-right: 100px;
    text-align: center;

}

header .logo {
    text-decoration: none;
    margin: 0 5rem 0 0;
}

ul{
    list-style: none;
}


header .logo img{
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
    
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: rgb(13, 14, 13);
}

header .navbar a.active,
header .navbar a:hover {
    color: #ffc187;

}

header .navbar{
    padding: 1rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 99999999;
}

.center-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-search {
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
    /* margin-left: 2rem; */
    width: 40%;
    border-radius: 10px;
    /* align-content: center; */
}
#search_search-form {

    /* background: rgba(196, 22, 22, 0); */
    background:whitesmoke ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    /* color: white; */
    /* border-radius: 0.5rem; */
    border: black 1px solid;
}

#search_search-form.active {
    top: 0;
}

#search_search-form #search-box {
    padding: 0;
    font-size: 1.3rem;
    text-transform: none;
    background: transparent;
    border: none;
    outline: none;
}

#search_search-form #search-box::placeholder {
    color: #cfcbcb;
}

#search_search-form label {
    color: rgb(97, 85, 85);
    cursor: pointer;
    font-size: 3rem;
}

#search_search-form label:hover {
    color: rgb(73, 68, 63);
}

#search_search-form #close1 {

    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 20px;
}


.foot-footer {
    background-color: #442d18;
    padding: 1rem;
    color: white;
}

#footer {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    /* grid-gap: 3rem; */

}


.footer-col h4 {
    font-size: 13.5pt;
    font-weight: normal;
    color: orangered;
    padding-bottom: 10px;

}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul a {
    font-size: 15px;
    color: rgb(231, 223, 221);
}



.footer-col ul a:hover {
    color: rgb(167, 117, 98);
    text-decoration: none;
    font-size: 15px;
}



.footer-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}


ion-icon {
    font: 2em sans-serif;
   
    cursor: pointer;
    transition: all 0.3s ease;
} 
ion-icon:hover {
    transform: scale(1.3);
    color: rgb(23, 23, 24);
}


/* .food-combos{
    font-size: x-small;
    color:rgb(52, 69, 83);
    margin: 2.5rem 0 2rem 0;
    position: absolute;
    top: 2rem;
} */

.bg-color{
    background-image: url(../images/mamaputimages/freshly-cooked-meat-stew-with-rice-vegetables-generative-ai.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}

/* 
.box-combo{
    background: rgba(214, 161, 161, 0.4);
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 3rem;
    
   
    
} */

.note{
    width: 100%;
    overflow: hidden;
    text-align: center;
    /* padding: 1rem; */
}



.note marquee{
    font-family: "poppins", sans-serif;
    font-size: 28px; 
    font-weight: bold;
    font-style: italic;
    color: orangered;
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.small-cont {
   padding: 1.5rem 0;
}


.food-combos .box-combo .box{
    margin-left: 2.5rem;
    font-size: 1.2rem;
    /* padding:1.5rem; */
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: rgb(73, 68, 63);
    position: relative;
    overflow: hidden;
    text-align: center;
    

}
.food-combos .box-combo .box:hover{
    transform : scale(1.1);
    background: #e2d3d3;

}



/*.box a{
    color: black;
    font-size: 20px;
    font-weight: 500px;
    padding: .5rem;
   
    background-color: #5f2e0b;
    border-radius: 7px;
}

.box a:hover{
    color: darkblue;
    background-color: #b19988;
    border-bottom: #5f2e0b 1px solid;

}*/
.btn{
    display: inline-block;
    /* margin-top: 1rem; */
    font-size: 1rem;
    text-decoration: none;
    background: orangered;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem ;
    color:white;
    /* margin-bottom: 1rem; */
}
.btn:hover{
    color: rgb(50, 50, 153);
    font-weight: bold;
    background: rgb(156, 123, 110);
    border: orangered 1px solid;
}



.flex-card {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 2rem;
    gap:2rem;
}

.card {
    width: 30%;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
    
}

.card:hover{
    transform : scale(1.1);
    background: #e2d3d3;
}
.fas {
    color: #ffc187;
    transition: all 0.3s ease;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: .5rem;
}

.btn-container button {
    margin-right: 5px; 
}

.card-text_2{
    text-align: right;
}

.bg-blur {
    background: url(../images/images/goat\ ribs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
    position: relative;
}

.bg-front {
    background: url(../images/images/goat\ ribs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    width: 60%;
    position: absolute;
    top: 25%;
    left: 30%;
    translate: (-50%, -50%);
    border-radius: 0.5%;
}

.shadow_img {
    height: 40rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 0.5rem;
}

.margin {
    margin: 5rem 0;
}

.col h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #5f2e0b;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-container .flex-item {
    padding: 1rem;
    font-size: 1.5rem;
}

.detail-title {
    text-align: center;
}

.detail-title h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #5f2e0b;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.detail-title h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu-item {
    padding: 5rem;
    background: transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.1);
    background: #e2d3d3;
}

.menu-item ion-icon {
    font-size: 5rem;
    color: #5f2e0b;
}

.flex-worktime{
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.col-time{
    padding: .5rem;
    border: whitesmoke .2rem solid;
    margin: 2rem;
    border-style: ridge;

}

.col-time p{
    font-size: 20px;
}

.col-time h4  {
    font-size: 25px;
    color: #24170d;
}
h1{
    text-align: center;
    font-size: 40px;
    color: #5f2e0b;
}

.flex-cart{
    text-align: right;
    margin-left: 300px;
}

.cont-body{
    background-image: url(../images/images/chapatti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.flex-form{
    display: flex;
    padding-left: 20rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.flex-text{
    background-color: #494745;
    padding: 1rem;
    height:  72vh;
    color: rgb(175, 167, 167);
}

.flex-msg{
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
    padding: 1rem;
}

.cont-text{
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.flex-form input{
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

.flex-msg h3{
    text-align: center;
}

.flex-msg #para{
    color:  gray;
    font-size: 20px;
    /* text-align: center; */
}
.flex-row{
    display: flex;
    margin: 20px;
}

ion-icon{
    margin-right: 20px;
}
.flex-msg p{
    font-size: 13px;
    color: grey;
}
.flex-msg b{
    font-size: 17px;
    color: aliceblue;
}

.flex-text #btn{
    width: 90px;
    margin-left: 40px;
}

.flex-text #btn:hover{
   background-color: #685a4c;
}
.flex-text #text{
    padding-left: 5px;
}