* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;*/
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    /*transition: all 0.2s linear;*/
}

body {
    height: 100%;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    background: rgb(252, 253, 253);
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}

header .logo i {
    color: rgb(17, 17, 17);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: rgb(13, 14, 13);
}

header .navbar a.active,
header .navbar a:hover {
    color: #ffc187;

}


#search-form {

    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: black 1px solid;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    padding: 0;
    font-size: 1.3rem;
    text-transform: none;
    background: transparent;
    border: none;
    outline: none;
}

#search-form #search-box::placeholder {
    color: #dadada;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: rgb(73, 68, 63);
}

#search-form #close1 {

    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 20px;
}

.sidebar {
    display: flex;
    padding: 0;
    background: url(../images/mamaputimages/closeup-roasted-meat-with-sauce-vegetables-fries-plate-table.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-gradient {
    background: rgba(97, 96, 96, 0.699);
    width: 100%;
    height: 100%;
}

.sidebar .text {
    padding: 0;
    font-size: 1.5rem;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    height: 60vh;
}

.sidebar .text ul {
    list-style: none;
    padding: 0;
}

.sidebar .text ul li {
    padding: 1rem;
}

.sidebar .text ul li a {
    color: black;
    text-decoration: none;
    background-color: aquamarine;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.sidebar .text ul li a:hover {
    color: rgb(247, 246, 242);
    border-color: rgb(192, 150, 99);
    border-bottom: 0.5rem solid rgb(192, 150, 99);
}

.content-space {
    height: fit-content;
}

.foot-footer {
    background-color: #442d18;
    padding: 1rem;
    color: white;
}

#footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;

}


.footer-col h4 {
    font-size: 13.5pt;
    font-weight: normal;
    color: orangered;
    padding-bottom: 10px;

}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul a {
    font-size: 15px;
    color: rgb(231, 223, 221);
}

/*.footer-col ul i{
    font-size:35px;
    color:rgb(228, 214, 209);
}*/

.footer-col ul a:hover {
    color: rgb(167, 117, 98);
    text-decoration: none;
    font-size: 15px;
}

/*.footer-col ul span{
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    color:white;
    text-decoration: none;
}
.footer-col ul span:hover{
    color:rgb(167, 117, 98);
    text-decoration: none;
    font-size: 20px;
}*/

.footer-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.footer-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
}

.footer-icons img:hover {
    transform: scale(1.3);
    color: whitesmoke;
}



section h2{
    margin-top: 80px;
    margin-left: 105px;
    font-size: 40px;
    display:inline-block;
}
section hr{
    border:none;
        height: 20px;
        width: 90%;
        height: 50px;
        margin-top: 0;
        border-bottom: 1px solid #1f1209;
        box-shadow: 0 20px 20px -20px #333;
        margin: 50px auto 10px;
}
#biryani{
    display:none;
}
#start{
    display:none;
}
#roti{
    display:none;
}
#curry{
    display:none;
}
section .barbeque{
    text-align: center;

}

section h4{
    margin-left: 105px;
    font-size: 30px;
    color:orangered;
}

.currys .box-curry{
    margin:auto;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:5.5rem;

}
.currys .box-curry .box{
    margin-left: 2.5rem;
    font-size: 1.2rem;
    padding:2.5rem;
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;

}