:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc187;
    --whiteColor: #fff;
    --softGreenColor: #92a8a5;
    --darkGrayColor: #a7a7a7;
    --blackColor: #222;
    ---greyColor: #f5f5f5;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'open Sans', sans-serif;
}

/** **/
body {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    background: var(--secondaryColor);
    padding: 10px 30px 10px;
}
.nav-left {
    font-size: 40px;
}
.nav-right {
    display: flex;
    padding-top: 16px;
    gap: 20px;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url('../images/mamaputimages/top-view-table-full-delicious-food-composition.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about, .menu, .contact {
    display: flex;
    justify-content: center;
    padding: 23px 30px 23px;
}
.foodCategory {
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
}
.foodCategory img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footBG {
    background:grey;
}
#footer {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 20px;
    justify-content: space-between;
}
footer h1 {
    font-size: 20px;
}
footer ul {
    list-style: none;
}
footer p {
    width: 250px;
}
div .icons {
    display: flex;
    gap: 5px;
}
div .icons img {
    width: 30px;
}
.icons img :nth-child(2) {
    padding-left: 20px;
}
span {
    display: block;
}


.main-body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.login-body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.main {
    background-color: var(---greyColor);
    border-radius: 15px;
    box-shadow: 0 0 20px
        rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}