{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/style.css" />
<section>

  <div id="about" class="about">
    <!-- <a href="#" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div class="about-overlay">
      <h1>About us</h1>
      <p>Launched in 2021, Mamaput is your ultimate destination for experiencing the rich<br> and
        diverse flavors of African cuisine, conveniently delivered<br> to your doorstep.

      </p>
      <h3> Join Us</h3>
      <p>Embark on a culinary journey like no other with Mamaput. Whether you're craving<br> a
        comforting bowl of jollof rice, a sizzling plate of suya,<br> or a refreshing glass of
        hibiscus drink, we invite you to explore our menu <br>and experience the magic of African
        flavors. Join us in celebrating the<br> rich tapestry of African cuisine and let Mamaput
        be your guide<br> to culinary adventures from the comfort of your own home.
      </p>
    </div>
  </div>
</section>
{% endblock content %}