{% extends 'product_listing.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/addcart.css') }}">
    <script src="{{ url_for('static', filename='scripts/addcart.js') }}"></script> 
    <section>
        <div class="shopping-cart">
            <!-- Title -->
            <div class="title">
                <h1>Add to Cart</h1>
            </div>

            <!-- Product #1 -->
            <div class="item">
                <div class="buttons">
                    <span class="delete-btn"></span>
                    <span class="like-btn"></span>
                </div>

                <div class="image">
                    <img src="" alt="" />
                </div>

                <div class="description">
                    <span>Combo</span>
                    <span>Half</span>
                    <span>Scoup</span>
                </div>

                <div class="quantity">
                    <button class="plus-btn" type="button" name="button">
                        <ion-icon name="add-outline"></ion-icon>
                    </button>
                    <input type="text" name="name" value="1">
                    <button class="minus-btn" type="button" name="button">
                        <ion-icon name="remove-outline"></ion-icon>
                    </button>
                </div>

                <div class="total-price"><span>&#8358;</span></div>
            </div>

        </div>
    </section>
{% endblock content %}