
{% extends 'product-display.html' %}

{% block title %}Add to Cart{% endblock %}

{% block content %
<h1>Add {{ product.name }} to Cart</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <input type="hidden" name="product_id" value="{{ form.product_id.data }}">
        <input type="hidden" name="product_name" value="{{ form.product_name.data }}">
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" value="{{ form.quantity.data }}">
        {% for error in form.quantity.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        <button type="submit">{{ form.submit.label }}</button>
    </form>

    <div>
        <h2>{{ product.name }}</h2>
        <img src="{{url_for(product.image_url }}" alt="{{ product.name }}">
        <p>Price: ${{ product.price }}</p>
        <p>Available Quantity: {{ product.quantity }}</p>
        <form method="post" action="{{ url_for('make_order') }}">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="product_name" value="{{ product.name }}">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="{{ product.quantity }}" required>
            <button type="submit" acttion="{{url_for('add_product')}}">Add to Cart</button>
        </form>
    </div>
{% endblock content %}