<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>APP</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h4>{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}                
        <h3><a href="{{ url_for('upload') }}">Upload product</a></h3>
    </body>
</html>