{% extends "landingPage.html" %}
{% block content %}
<section>
    <h1 class="contact">Contact Us</h1>
    <p class="pGraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit minima
      autem assumenda fuga itaque qui dolorem delectus laboriosam eos id?
      Nulla, libero aut. Enim cumque iure eaque in illum magnam.
    </p>
  </section>
  <section class="footBG">
    <footer id="footer">
      <div>
        <h1>MAMAPUT</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing espant.
          Architecto quod id quisquam temporibus minus qui odit?
        </p>
        <div class="icons">
          <span><img src="../static/images/mamaputimages/instagram.png" alt="" /></span>
          <span><img src="../static/images/mamaputimages/facebook.png" alt="" /></span>
          <span><img src="../static/images/mamaputimages/owl.png" alt="" /></span>
          <span><img src="../static/images/mamaputimages/twitter.png" alt="" /></span>
          <span><img src="../static/images/mamaputimages/owl.png" alt="" /></span>
        </div>
      </div>

      <div>
        <h1>OVERVIEW</h1>
        <span>Home</span>
        <span>Foo Menus</span>
        <span>Online Delivery</span>
        <span>About Us</span>
        <span>Blog Posts</span>
      </div>
      <div>
        <h1>RESOURCES</h1>
        <span>Help Center</span>
        <span>Terms of use</span>
        <span>Privacy Pospancy</span>
      </div>
      <div>
        <h1>CONTACT INFO</h1>
        <span>+2347 1204 8561</span>
        <span>info@mamaput.com</span>
        <span>mamaput.com</span>
      </div>
      <div>
        <h1>LOCATION</h1>
        <p>732/21 Second Street, Koboko, Uganda</p>
      </div>
    </footer>
    {% endblock content %}
  </section>
{% endblock content %}