{% extends "layout.html" %}
<section class="currys" id="curry">
    <h2 class="barbeque">Egusi Soup</h2>
    <hr class="line">
    <h4>Egusi's</h4> 
    <div class="box-curry">
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi beef</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 250</span>
            <br>
            <a href="{{url_for('add_to_cart')}}" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veggies.jpg">
            <h3>Egusi one</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span> Naira250</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi two</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 300</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi three</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 220</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/masmasa.jpg">
            <h3>Egusi four</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi five</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/efo-stewjpg.jpg">
            <h3>Egusi six</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/masmasa.jpg">
            <h3>Egusi seven</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi eight</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi nine</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi ten</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>


        </div>

</section>