{% extends "layout.html" %}
<section class="barb" id="biryani">
    <h2 class="barbeque">Ensansa</h2>
    <hr class="line">
    <h4>Ensansa's</h4>  
    <div class="box-container">
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src=".../static/images/mamaputimages/northafricacuisine.jpgg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 140</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg" >
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 140</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
        

    </div>
    </div>
</section>