{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="">
        <div class="bg-blur"></div>
        <div class="bg-front">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div id="alert-message" class="alert alert-{{ category}}">
                    {{ message}}
                </div>
                <script>
                    // function to hide alert message after 3 seconds
                    setTimeout(function () {
                        document.getElementById('alert-message').style.display = 'none';
                    }, 3000);
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin">
            <div class="col">
                <img class="shadow_img"
                    src="../static/images/mamaputimages/freshly-cooked-meat-stew-with-rice-vegetables-generative-ai.jpg"
                    alt="">
                <h2>GOOD TIMES CREATE FRIENDS</h2>
            </div>

            <div class="col">
                <h2>WELCOME TO MAMAPUT</h2>
                <div class="flexx-container">
                    <p class="flex-item">
                        Come to experience the exceptional gastronomic voyage in the ultimate venue. Our authentic
                        cuisine unites people connecting history and traditions in the warm and friendly atmosphere.
                    </p>
                    <p class="flex-item">
                        Our family has been in the restaurant business for a very long time.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="img1">
            <img src="../static/images/mamaputimages/food-1.jpg" alt="">
        </div>
        <div class="about-text">
            <h2>TRADITIONAL & YUMY</h2>
            <P>Embark on a culinary journey like no other with Mamaput<br>and experience the magic of African
                flavors
            </P>
        </div>
        <div class="img2">
            <img src="../static/images/mamaputimages/food-2.jpg" alt="">
        </div>
    </div>
    <div class="container-row">
        <div class="bg-color">
            <div class="flex-container">
                <div class="detail-title">
                    <h2>CATERING SERVICES</h2>
                </div>
                <div class="detail-title">
                    <h3>PLEASE CALL AT LEAST 24 HOURS IN ADVANCE
                        FOR CATERING ORDERS</h3>
                </div>

                <div class="flex-menu">
                    <div class="menu-item">
                        <ion-icon name="pizza-outline"></ion-icon>
                        <h4>WEEDINGS</h4>
                    </div>
                    <div class="menu-item">
                        <ion-icon name="restaurant-outline"></ion-icon>
                        <h4>INTRODUCTION CEREMONIES</h4>
                    </div>
                    <div class="menu-item">
                        <ion-icon name="restaurant-outline"></ion-icon>
                        <h4>HOME COMING PARTY</h4>
                    </div>
                    <div class="menu-item">
                        <ion-icon name="pizza-outline"></ion-icon>
                        <h4>HOUSE WARMING PARTY</h4>
                    </div>
                </div>
                <div class="special">
                    <div class="img3">
                        <img src="../static/images/mamaputimages/food-3.jpg" alt="">
                    </div>
                    <div class="special-text">
                        <h4>Our tasty food</h4>
                        <h2>OUR SPECIAL</h2>
                        <ul>
                            <li><b>Grilled Chicken</b>
                                <p>mouth watering Chicken</p>
                                <hr> $100
                            </li>
                            <li><b>Grilled Fish</b>
                                <p>mouth watering Chicken</p>
                                <hr> $100
                            </li>
                            <li><b>Goat Meat Pepper Soup<b>
                                        <p>mouth watering Chicken</p>
                                        <hr> $100
                            </li>
                            <li><b>Beef Pepper Soup</b>
                                <p>mouth watering Chicken</p>
                                <hr> $100
                            </li>
                            <li><b>Assorted Meat Pepper Soup</b>
                                <p>mouth watering Chicken</p>
                                <hr> $100
                            </li>
                        </ul>
                        <button class="btn">Check</button>
                    </div>

                </div>
                <h1>OPENING TIMES</h1>
                <div class="flex-worktime">

                    <div class="col-time">
                        <h4>Lunch</h4>
                        <p>Weekdays - 11:30am to 2:00pm</p>
                    </div>
                    <div class="col-time">
                        <h4>Dinner</h4>
                        <p>Weekdays - 5:30pm to 9:30pm</p>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="">
                    <h1>Questions</h1>
                    <div class="qns">
                        <div class="qn">
                            <h5>What food do you enjoy best from us?</h5>
                        </div>
                        <div class="qn">
                            <h5>What food do you enjoy best from us?</h5>
                        </div>
                        <div class="qn">
                            <h5>What food do you enjoy best from us?</h5>
                        </div>
                        <div class="qn">
                            <h5>What food do you enjoy best from us?</h5>
                        </div>
                    </div>
                </div>

                <div class="commu">
                    <h1> JOIN THE COMMUNITY</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}