{% extends "layout.html" %}
{% block content %}

<section>
    <div class="container">
        <div class="bg-blur"></div>
        <div class="bg-front">
            <img src="../static/images/mamaputimages/dried-squid-baked-with-sweet-sour-sauce-asian-seafood-concept.jpg"
                class="images_front" alt="">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Flex Container with justify-content: space-between</h2>
                <div class="flex-container">
                    <div class="flex-item">Item 1</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} <!-- End of the block content -->