{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content%}
    <section class="rotis" id="roti">
        <h2 class="barbeque">Jollof</h2>
        <hr class="line">
        <h4>Jollof's</h4> 
        <div class="box-roti">
            <div class="box">
                <img src="../static/images/mamaputimages/jollof1.jpg">
                <h3>Jollof</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 40</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <img src="../static/images/mamaputimages/jollof1.jpg">
                <h3>Jollof one</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 35</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <img src="../static/images/mamaputimages/jollof1.jpg">
                <h3>Jollof two</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 24../static/images/mamaputimages/jollof1.jpg0</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <img src="./Images/Dishes/garlicnaan.jpg">
                <h3>Jollof three</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 350</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <img src="../static/images/mamaputimages/jollof1.jpg">
                <h3>PJollof four</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 250</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>
            <div class="box">
                <img src="../static/images/mamaputimages/jollof1.jpg">
                <h3>Jollof five</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
        
                </div>
                <span>Naira 200</span>
                <br>
                <a href="#" class="btn">Add to cart</a>
            </div>

    </section>
{%endblock%}