<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/product-display.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="logo"><i class="fa fa-utensils"></i>Mamaput</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/landingPage.html" action="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/product-display.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/aboutus.html" onclick="openAbout()">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="feedback" href="#">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('orders')}}">Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- nevbar ends -->
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="{{url_for('product_listing')}}" class="fas fa-heart"></a>
            <a href="{{url_for('add_to_cart')}}" id="shopping-list" class="fas fa-shopping-cart"></a>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="{{url_for('login')}}" class="fas fa-sign-in-alt"></a>

        </div>

        <!--search form-->
        <form action="" id="search-form">
            <input type="search" placeholder="search here..." name="" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
            <i class="fas fa-times" id="close1"></i>
        </form>
        <!--Search Form ends-->
    </header>

    <!-- End header-->
    
    <!--side bar-->

    <nav class="sidebar navbar-expand-lg">
        <div class="bg-gradient">
            <div class="text">
                <a href="../static/images/mamaputimages/owl.png"><i class="fa fa-home"></i></a>
                <ul>
                    <li><a href={{ url_for('templates', filename='egusi.html') }}" onclick="myfun()">Egusi variety</a></li>
                    <li><a href="../templates/jollof.html" onclick="myfunction()">Jollof variety</a></li>
                    <li><a href="../templates/okra.html" onclick="myroti()">Okra variety</a></li>
                    <li><a href="../templates/ensansa.html" onclick="mycurry()">Ensansa</a></li>
                </ul>
    
            </div>
            <div class="content-space">
    
            </div>

        </div>
    </nav>
    <!--Side bar ends-->
    <!-- Content Space -->
    

    <!-- Content Space ends -->
    <!-- Footer Section -->

    <section class="foot-footer">
        <footer id="footer">
            <div class="footer-col">
                <h4>MAMAPUT</h4>
                <p>
                    Lorem ipsum dolor sit amet
                </p>
                <div class="footer-icons">
                    <span><img src="../static/images/mamaputimages/owl.png" alt="" /></span>
                    <span><img src="../static/images/mamaputimages/facebook.png" alt="" /></span>
                    <span><img src="../static/images/mamaputimages/twitter.png" alt="" /></span>
                    <span><img src="../static/images/mamaputimages/instagram.png" alt="" /></span>
                    <span><img src="../static/images/mamaputimages/banner1.jpg" alt="" /></span>
                </div>
            </div>

            <div class="footer-col">
                <h4>OVERVIEW</h4>
                <ul>
                    <li><a href="#">Online Delivery</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog Posts</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>RESOURCES</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy Pospancy</a></li>
                </ul>

            </div>
            <div class="footer-col">
                <h4>CONTACT INFO</h4>
                <ul>
                    <li><a href="#">+2347 1204 8561</a></li>
                    <li><a href="#">info@mamaput.com</a></li>
                    <li><a href="#">mamaput.com</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>LOCATION</h4>
                <p>732/21 Second Street, Koboko, Nigeria</p>
            </div>
        </footer>

    </section>

    <!-- End of Footer Section-->
    <!-- JavaScript -->

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<script src="path/to/your/custom.js"></script>-->
    <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }
        window.onscroll = () => {
            menu.classList.remove('fa-times');
            navbar.classList.remove('active');
        }
        document.querySelector('#search-icon').onclick = () => {
            document.querySelector('#search-form').classList.toggle('active');
        }
        document.querySelector('#close1').onclick = () => {
            document.querySelector('#search-form').classList.toggle('active');
        }
        document.querySelector("#feedback").onclick = () => {
            document.querySelector("#co1").classList.toggle("active");
        }
        document.querySelector("#close").onclick = () => {
            document.querySelector("#co1").classList.toggle("active");

        }
        function myfun() {
            document.getElementById("jollof").style.display = "block";
        }
        function myfunction() {
            document.getElementById("okra").style.display = "block";
        }
        function myroti() {
            document.getElementById("ensansa").style.display = "block";
        }
        function mycurry() {
            document.getElementById("egusi").style.display = "block";
        }
        function increment() {
            document.getElementById('demoInput').stepUp();
        }
        function decrement() {
            document.getElementById('demoInput').stepDown();
        }
        const btn = document.querySelector("button");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const editBtn = document.querySelector(".edit");

        btn.onclick = () => {
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = () => {
                widget.style.display = "block";
                post.style.display = "none";
            }
            return false;
        }
        function openAbout() {
            document.getElementById("about").style.width = "100%";

        }
        function closeNav() {
            document.getElementById("about").style.width = "0%";
        }
    </script>
</body>

</html>