{% extends "layout.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Make Order - Mamaput Delivery
    {% endif %}
{% endblock %}

{% block main %}
    <h1>{% if title %}{{ title }}{% else %}Make Order{% endif %}</h1>
    
    <div>
        <h4>{{ product.name }}</h4>
        <p>Description: {{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
    </div>

    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.fullname.label }} {{ form.fullname(class="form-control") }}
        </div>
        <div>
            {{ form.address.label }} {{ form.address(class="form-control") }}
        </div>
        <div>
            {{ form.phone_number.label }} {{ form.phone_number(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <a href="{{ url_for('landingPage') }}">Cancel</a>
{% endblock %}
