{% extends "landingPage.html" %}
{% block content %}
<section>
  <h1 class="menu">Our Menu</h1>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/sausage-fried-rice-with-tomatoes-carrots-shiitake-mushrooms-plate.jpg" alt="" />
    <img src="../static/images/mamaputimages/side-view-pilaf-with-stewed-beef-meat-plate.jpg" alt="" />
    <img src="../static/images/mamaputimages/okra-soup.PNG" alt="" />
    <img src="../static/images/mamaputimages/roast-meat.jpg" alt="" />
  </div>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/efo stewjpg.jpg" alt="" />
    <img src="../static/images/mamaputimages/veg.jpg" alt="" />
    <img src="../static/images/mamaputimages/efo stewjpg.jpg" alt="" />
    <img src="../static/images/mamaputimages/porridge.jpg" alt="" />
  </div>
  <div class="foodCategory">
    <img
      src="../static/images/mamaputimages/veggies.jpg"
      alt="Pounded Yam with vegetable sauce"
      class="img1"
    />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
    <img src="../static/images/mamaputimages/masmasa.jpg" alt="" class="img3" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
  </div>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/fishsauce.jpg" alt="" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
    <img src="../static/images/mamaputimages/masmasa.jpg" alt="" class="img3" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
  </div>
</section>
<section class="footBG">
  <footer id="footer">
    <div>
      <h1>MAMAPUT</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing espant.
        Architecto quod id quisquam temporibus minus qui odit?
      </p>
      <div class="icons">
        <span><img src="../static/images/mamaputimages/instagram.png" alt="" /></span>
        <span><img src="../static/images/mamaputimages/facebook.png" alt="" /></span>
        <span><img src="../static/images/mamaputimages/owl.png" alt="" /></span>
        <span><img src="../static/images/mamaputimages/twitter.png" alt="" /></span>
        <span><img src="../static/images/mamaputimages/owl.png" alt="" /></span>
      </div>
    </div>

    <div>
      <h1>OVERVIEW</h1>
      <span>Home</span>
      <span>Foo Menus</span>
      <span>Online Delivery</span>
      <span>About Us</span>
      <span>Blog Posts</span>
    </div>
    <div>
      <h1>RESOURCES</h1>
      <span>Help Center</span>
      <span>Terms of use</span>
      <span>Privacy Pospancy</span>
    </div>
    <div>
      <h1>CONTACT INFO</h1>
      <span>+2347 1204 8561</span>
      <span>info@mamaput.com</span>
      <span>mamaput.com</span>
    </div>
    <div>
      <h1>LOCATION</h1>
      <p>732/21 Second Street, Koboko, Uganda</p>
    </div>
  </footer>
  {% endblock content %}
</section>
{% endblock content %}