{% extends "landingPage.html" %}
{% block content %}
<section>
  <h1 class="menu">Our Menu</h1>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/sausage-fried-rice-with-tomatoes-carrots-shiitake-mushrooms-plate.jpg" alt="" />
    <img src="../static/images/mamaputimages/side-view-pilaf-with-stewed-beef-meat-plate.jpg" alt="" />
    <img src="../static/images/mamaputimages/okra-soup.PNG" alt="" />
    <img src="../static/images/mamaputimages/roast-meat.jpg" alt="" />
  </div>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/efo stewjpg.jpg" alt="" />
    <img src="../static/images/mamaputimages/veg.jpg" alt="" />
    <img src="../static/images/mamaputimages/efo stewjpg.jpg" alt="" />
    <img src="../static/images/mamaputimages/porridge.jpg" alt="" />
  </div>
  <div class="foodCategory">
    <img
      src="../static/images/mamaputimages/veggies.jpg"
      alt="Pounded Yam with vegetable sauce"
      class="img1"
    />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
    <img src="../static/images/mamaputimages/masmasa.jpg" alt="" class="img3" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
  </div>
  <div class="foodCategory">
    <img src="../static/images/mamaputimages/fishsauce.jpg" alt="" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
    <img src="../static/images/mamaputimages/masmasa.jpg" alt="" class="img3" />
    <img src="../static/images/mamaputimages/northafricacuisine.jpg" alt="" class="img2" />
  </div>
</section>
{% endblock content %}