{% extends "layout.html" %}
<section class="starters" id="okra">
    <h2 class="barbeque">Okra</h2>
    <hr class="line">
    <h4>Okra's</h4> 
    <div class="box-starters">
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra full</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 350</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra one</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 350</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra two</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 220</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra three</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra four</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra five</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>NAira 240</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra six</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra okra </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 3000</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
    </div>

</section>