{% extends 'layout.html' %}

{% block content %}
    <section class="food-combos" id="food-combo">
        <div class="bg-color">
            <div class="small-cont">
                <h2 class="note">
                    <marquee direction="left">Find your favourite combo here...</marquee>
                </h2>
            </div>
           
            <form class="new-search" action="" method="GET">
                <div class="search-container">
                    <input type="search" placeholder="search here..." name="search-box" id="search-box" ></input>
                    <ion-icon name="search-outline"></ion-icon>
                    <!-- <div type="search" class="search-button">
                        
                    </div> -->
                </div>
               
            </form>
                
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="flex-card">
                            <div class="card">
                                <div class="img-icon">
                                    <img src="{{ url_for('static', filename='images/' + product.image_path) }}" alt="">
                                </div>
                                
                                <div class="card-body height-l">
                                    <h3 class="card-title">{{ product.food_name }}</h3>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text_2">Price: ₦{{ product.price }}</p>
                                    <div class="btn-container">
                                        <button class="btn btn-primary">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock content %}