<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MamaPut Delivery{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/product-display.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
    

<!--Rating Form starts-->



<section class="home" id="home">
    <div class="barb">
        <img src="../static/images/mamaputimages/jollof-with-white-background.jpg" type="image/icon type">
        <img src="../static/images/mamaputimages/meat-sauce-soup-with-greens-potatoes-dark-desk-soup-meal-sauce-meat.jpg" type="image/icon type">
        <img src="../static/images/mamaputimages/traditional-thai-food-thai-curry-with-river-snail.jpg" type="image/icon type">
    </div>
    <div class="cont">
        {% block content %}
        {% endblock %}
    </div>

</section>

<!--Footer Section-->
<!--<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="footer-col">
                <ul>
                    <i class="fa fa-utensils"></i>
                    <span>Mamaput.</span>
                </ul>
                <div class="map">
                    <ul>
                        <i class="fa fa-map-marker"></i>
                            <span> Suluya village<br>
                                   Anambra state
                            </span>
                    </ul>
                    </div>
                <div class="mail">
                    <ul>
                        <i class="fas fa-inbox"></i>
                        <span>
                            support@mamaput.com
                        </span>
                    </ul>
                </div>
            </div>
            
            <div class="footer-col">
                <h4>Maamaput</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Payment policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">My orders</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment options</a></li>

                </ul>
                </div>
                <div class="footer-col">
                    <h4>Order Now</h4>
                    <ul>
                        <li><a href="#">Egusi</a></li>
                        <li><a href="#">Ensansa</a></li>
                        <li><a href="#">Jollof</a></li>
                        <li><a href="#">Okra</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>

                </div>

            </div>
            </div>
            

</footer>-->

<!--Home  ends-->


    <!--JavaScript ends -->
</body>
</html>