<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/mamaputimages/owl.png" type="image/icon type">
<link rel="stylesheet" href="../static/styles/product-display.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% if title %}
      <title>
        {{ title }}
      </title>
    {% else %}
      <title>MamaPut online food</title>
    {% endif %}
</head>
<body>
    <!--Header section start-->
   <!-- <header>
        <a href="#" class="logo"><i class="fa fa-utensils"></i>Mamaput</a>
        <nav class="navbar">
            <a class="active" href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#" onclick="openAbout()">about</a>
            <a href="./contact.html" >Contact us</a>
            <a class="feed" id="feedback">feedback</a>
            <a href="#">Orders</a>
        </nav>-->
      
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" id="shopping-list" class="fas fa-shopping-cart"></a>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="{{url_for('signup')}}" class="fas fa-sign-in-alt"></a>
            
        </div>

         <!--search form-->
    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close1"></i>
    </form>
    <!--Search Form ends-->
    </header>

<!--Rating Form starts-->

<div class="back">
    <div class="container1" id="co1">
        <div class="post">
            <div class="text">Thanks for Rating us!</div>
            <div class="edit">Edit</div>
            <i class="fas fa-times" id="close"></i>
    
        </div>
        <div class="star-widget">
        <input type="radio" name="rate" id="rate-5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-1">
        <label for="rate-1" class="fas fa-star"></label>
        <form action="#">
            <i class="fas fa-times" id="close"></i>
            <h4></h4>
            <div class="textarea">
                <textarea cols="30" placeholder="Describe your experience"></textarea>
    
            </div>
            
            <div class="btn">
                <button type="submit">Post</button>
            </div>
        </form>
        </div>    
    </div>
    </div>
<!--Rating form ends-->
<!--side bar-->

<nav class="sidebar">
    <div class="text">
    <a href="../static/images/mamaputimages/owl.png"><i class="fa fa-home"></i></a>
    <ul>
        <li><a href="#" onclick="myfun()">Egusi variety</a></li>
        <li><a href="#" onclick="myfunction()">Jollof's</a></li>
        <li><a href="#" onclick="myroti()">Okra's</a></li>
        <li><a href="#" onclick="mycurry()">Ensansa</a></li>
    </ul>
    {% if current_user.is_authenticated %}
            <a href="{{ url_for('orders') }}">Make Order</a>
        {% else %}
            <p>Please <a href="{{ url_for('login') }}">login</a> to make an order.</p>
        {% endif %}
</div>
</nav>
<!--Side bar ends-->
<!--<section class="home" id="home">
    <div class="barb">
        <h2><img src="../static/images/mamaputimages/masmasa.jpg" height="450" radius="25"></h2>
        <div class="cont">
  
        </div>
    </div>
</section>-->
<section class="currys" id="curry">
    <h2 class="barbeque">Egusi Soup</h2>
    <hr class="line">
    <h4>Egusi's</h4> 
    <div class="box-curry">
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi beef</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 250</span>
            <br>
            <a href="{{url_for('add_to_cart')}}" class="btn" id="add-to-list">Add to cart</a>
            <a href="{{url_for('orders')}}" class="btn" id="add-to-list">Order</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veggies.jpg">
            <h3>Egusi one</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span> Naira250</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi two</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 300</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi three</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 220</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/masmasa.jpg">
            <h3>Egusi four</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi five</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/efo-stewjpg.jpg">
            <h3>Egusi six</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/masmasa.jpg">
            <h3>Egusi seven</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi eight</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi nine</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/fishsauce.jpg">
            <h3>Egusi ten</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn" id="add-to-list">Add to cart</a>
        </div>


        </div>

</section>
<section class="rotis" id="roti">
    <h2 class="barbeque">Jollof</h2>
    <hr class="line">
    <h4>Jollof's</h4> 
    <div class="box-roti">
        <div class="box">
            <img src="../static/images/mamaputimages/jollof1.jpg">
            <h3>Jollof</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 40</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/jollof1.jpg">
            <h3>Jollof one</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 35</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/jollof1.jpg">
            <h3>Jollof two</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 24../static/images/mamaputimages/jollof1.jpg0</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="./Images/Dishes/garlicnaan.jpg">
            <h3>Jollof three</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 350</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/jollof1.jpg">
            <h3>PJollof four</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 250</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/jollof1.jpg">
            <h3>Jollof five</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 200</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>

</section>

<section class="starters" id="okra">
    <h2 class="barbeque">Okra</h2>
    <hr class="line">
    <h4>Okra's</h4> 
    <div class="box-starters">
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra full</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 350</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra one</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 350</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra two</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 220</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra three</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra four</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 240</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra five</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>NAira 240</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra six</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra okra </h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 3000</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="../static/images/mamaputimages/veg.jpg">
            <h3>Okra</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
    
            </div>
            <span>Naira 210</span>
            <br>
            <a href="#" class="btn">Add to cart</a>
        </div>
    </div>

</section>

<section class="barb" id="biryani">
    <h2 class="barbeque">Ensansa</h2>
    <hr class="line">
    <h4>Ensansa's</h4>  
    <div class="box-container">
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>

        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>
    </div>
    <div class="box">
        <img src=".../static/images/mamaputimages/northafricacuisine.jpgg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 120</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg">
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 140</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
    <div class="box">
        <img src="../static/images/mamaputimages/northafricacuisine.jpg" >
        <h3>Ensansa</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span>Naira 140</span>
        <br>
        <a href="#" class="btn">Add to cart</a>

    </div>
        

    </div>
    </div>
</section>
<div id="about" class="about">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="about-overlay">
        <h1>About us</h1>
        <p>Launched in 2021, Mamaput is your ultimate destination for experiencing the rich<br> and 
          diverse flavors of African cuisine, conveniently delivered<br> to your doorstep. 
          
        </p
        <h5>Join Us</h5>
        <p>Embark on a culinary journey like no other with Mamaput. Whether you're craving<br> a 
          comforting bowl of jollof rice, a sizzling plate of suya,<br> or a refreshing glass of 
          hibiscus drink, we invite you to explore our menu <br>and experience the magic of African 
          flavors. Join us in celebrating the<br> rich tapestry of African cuisine and let Mamaput 
          be your guide<br> to culinary adventures from the comfort of your own home.
          </p>
    </div>
</div>



<!--Footer Section-->
<!--<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="footer-col">
                <ul>
                    <i class="fa fa-utensils"></i>
                    <span>Mamaput.</span>
                </ul>
                <div class="map">
                    <ul>
                        <i class="fa fa-map-marker"></i>
                            <span> Suluya village<br>
                                   Anambra state
                            </span>
                    </ul>
                    </div>
                <div class="mail">
                    <ul>
                        <i class="fas fa-inbox"></i>
                        <span>
                            support@mamaput.com
                        </span>
                    </ul>
                </div>
            </div>
            
            <div class="footer-col">
                <h4>Maamaput</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Payment policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">My orders</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment options</a></li>

                </ul>
                </div>
                <div class="footer-col">
                    <h4>Order Now</h4>
                    <ul>
                        <li><a href="#">Egusi</a></li>
                        <li><a href="#">Ensansa</a></li>
                        <li><a href="#">Jollof</a></li>
                        <li><a href="#">Okra</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>

                </div>

            </div>
            </div>
            

</footer>-->

<!--Home  ends-->


<!--Java Script-->
    <script>
        let menu = document.querySelector('#menu-bars');
let navbar = document.querySelector('.navbar');

menu.onclick = () => {
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('active');
}
window.onscroll=() => {
    menu.classList.remove('fa-times');
    navbar.classList.remove('active');
}
document.querySelector('#search-icon').onclick=() => {
    document.querySelector('#search-form').classList.toggle('active');
}
document.querySelector('#close1').onclick=() => {
    document.querySelector('#search-form').classList.toggle('active');
}
document.querySelector("#feedback").onclick=() =>{
document.querySelector("#co1").classList.toggle("active");
}
document.querySelector("#close").onclick=() =>{
document.querySelector("#co1").classList.toggle("active");

}
function myfun(){
document.getElementById("biryani").style.display="block";
}
function myfunction(){
document.getElementById("okra").style.display="block";
}
function myroti(){
document.getElementById("roti").style.display="block";
}
function mycurry(){
document.getElementById("curry").style.display="block";
}
function increment() {
      document.getElementById('demoInput').stepUp();
   }
function decrement() {
      document.getElementById('demoInput').stepDown();
   }
const btn = document.querySelector("button");
const post = document.querySelector(".post");
const widget = document.querySelector(".star-widget");
const editBtn = document.querySelector(".edit");

btn.onclick = () =>{
widget.style.display = "none";
post.style.display = "block";
editBtn.onclick = () =>{
    widget.style.display = "block";
    post.style.display = "none";
}
return false;
}
   function openAbout(){
        document.getElementById("about").style.width = "100%";

    }
    function closeNav(){
        document.getElementById("about").style.width = "0%";
    }
    </script>
 
     
    <!--JavaScript ends -->
</body>
</html>