{% extends "layout.html" %}
{% block content %}
    <section class="food-combos" id="food-combo">
        <div class="bg-color">
            <div class="small-cont">
                <h2 class="note">
                    <marquee direction="left">Find your favourite combo here...</marquee>
                </h2>
            </div>
           
            <form class="new-search" action="" id="search_search-form">
                <input type="search" placeholder="search here..." name="" id="search-box" id="search-icon">
                <label for="search-box" class="fas fa-search"></label>
            </form>
                
        
            
            <div class="flex-card">
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success"><a href="#">Order Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/chicken thicher.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/mamaputimages/efo-stewjpg.jpg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Efo stew</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price:  Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price:  Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/images/lusaniya.jpeg" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Lusaniya</h3>
                        <p class="card-text">Delicious Lusaniya dish prepared with fresh ingredients.</p>
                        <p class="card-text_2">Price: Naira 10</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(3 Reviews)</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn btn-primary">Add to Cart</button>
                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}