{% extends "dashboard.html" %}
{% block content %}
<div class="content-section">
    <div class="container mt-5">
        <div class="content-section">
            <div class="title">{{ current_user.first_name }}</div>
            <div class="subtitle">Profile</div>
            <form method="POST" , action="">
                {{ addrform.hidden_tag() }}
                <div class="form-group">
                    {{ addrform.first_name.label(class="form-control-label") }}
                    {{ addrform.first_name(class="form-control form-control", readonly=true) }}
                </div>
                <div class="form-group">
                    {{ addrform.last_name.label(class="form-control-label") }}
                    {{ addrform.last_name(class="form-control form-control", readonly=true) }}
                </div>
                <div class="form-group">
                    {{ addrform.email.label(class="form-control-label") }}
                        {% if addrform.email.errors %}
                    {{ addrform.email(class="form-control is-invalid", style="width: 40%;") }}
                    <div class="invalid-feedback">
                        {% for error in addrform.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ addrform.email(class="form-control form-control", style="width: 40%;") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ addrform.addr.label(class="form-control-label") }}
                    {{ addrform.addr(class="form-control form-control", style="width: 40%;") }}
                </div>
                <button class="btn btn-primary">{{ addrform.submit }}</button>
            </form>    
        </div>
    </div>
</div>
{% endblock content %}