{% extends "index.html" %}
{% block content %}
<div class="login">
    <h2>LOGIN</h2>
    <div class="links">
        <a href="{{url_for('login') }}">Login</a>
        <a href="{{url_for('signup')}}" class="active">Signup</a>
    </div>
    <form method="post" action="{{ url_for ('signup') }}" autocomplete="off">
        <br>
        <label for="Username">
            <i class="fa-user"></i>
        </label>
        <input  type="text" name="username" placeholder="Username" id="username" autofocus="" required> 
        <br><br>
        <label for="password">
            <i class="fa-lock"></i>
        </label>  
        <input type="password" name="password" placeholder="Enter password" required> 
        <br><br>
        <label for="email">
            <i class="fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{msg}}</div>
        <br>
        <input type="submit"  value="Submit">
    </form>
</div>
{% endblock content %}