{% extends "layout.html" %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<head>
   <link rel="stylesheet" href="../static/styles/payment.css">
</head>
<div class="serviceBox">
  <h3>SUCCESSFULL PAYMENT</h3>
   <div class="service-icon">
     <i class="fa fa-rocket"></i>
   </div>
   <div class="service-content">
       <p>
    	  Hooray!!, Your Order has been placed successfully....
       </p>
     <a href="{{ url_for('orders') }}" class="btn btn-default">See your order</a>
   </div>
</div>
{% endblock content %}
