<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/contact-form-style.css" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Lagos, NP12</div>
            <div class="text-two">	Kabo	704103</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+23498 9893 5647</div>
            <div class="text-two">+23496 3434 5678</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">mamaput@gmail.com</div>
            <div class="text-two">info.mamaput@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">CONTACT US</div>
          <p>If you have any info or qurries, you can send me message from here. <br>It's my pleasure to help you.</p>
          <form action="#">
            <div class="input-box">
              <input type="text" name="Username" placeholder="Enter your name" required />
            </div>
            <div class="input-box">
              <input type="text" name="Email" placeholder="Enter your email"  required/>
            </div>
            <div class="input-box message-box">
              <textarea placeholder="Enter your message" required></textarea>
            </div>
            <div class="button">
              <input type="button" value="Send Now" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
