{% extends "index.html" %}
{% block content %}
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Log in your account!</div>
        <form method="POST", action="">
            {{ loginform.hidden_tag() }}
            <div class="input-container ic2">
                {{ loginform.email(class="input") }}
                <div class="cut "></div>
                {% if loginform.email.errors %}
                    {{ loginform.email.label(class="placeholder needs-validation") }}
                    <div class="invalid-feedback">
                        {% for error in loginform.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ loginform.email.label(class="placeholder") }}
                {% endif %}
            </div>
            <div class="input-container ic2">
                {{ loginform.pwd(class="input") }}
                <div class="cut"></div>
                {% if loginform.pwd.errors %}
                    {{ loginform.pwd.label(class="placeholder was-validated") }}
                    <div class="invalid-feedback">
                        {% for error in loginform.pwd.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ loginform.pwd.label(class="placeholder") }}
                {% endif %}
            </div>
            <div class="custom-control custom-check">
                {{ loginform.remember(class="custom-control-input") }}
                {{ loginform.remember.label(class="custom-control-label") }}
            </div>
            <div>
                {{ loginform.submit(class="submit")}}
            </div>
            <small class="text-muted">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div>
        <small>
            Do not have an Account? <a href="{{ url_for ('register')}}">Sign up</a>
        </small>
    </div>
{% endblock content %}
