{% extends "index.html" %}
{% block content %}
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your account!</div>
        <form method="POST", action="">
            {{ regform.hidden_tag() }}
            <div class="input-container ic1">
                {{ regform.first_name(class="input") }}
                <div class="cut"></div>
                {{ regform.first_name.label(class="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ regform.last_name(class="input") }}
                <div class="cut "></div>
                {{ regform.last_name.label(class="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ regform.email(class="input") }}
                <div class="cut cut-short"></div>
                {{ regform.email.label(class="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ regform.pwd(class="input") }}
                <div class="cut"></div>
                {{ regform.pwd.label(class="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ regform.confirm_pwd(class="input") }}
                <div class="cut"></div>
                {{ regform.confirm_pwd.label(class="placeholder") }}
            </div>
            <button>
                {{ regform.submit(class="submit")}}
            </button>
        </form>
    </div>
{% endblock content %}